# Plantilla oficial de Unity (adaptada)
/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Bb]uild/
/[Bb]uilds/
/[Ll]ogs/
/[Uu]ser[Ss]ettings/

# Archivos generados por Visual Studio
*.csproj
*.unityproj
*.sln
*.suo
*.userprefs
*.pidb

# Archivos de caché
*.pidb.meta
*.pdb

# Archivos específicos de OS
.DS_Store
Thumbs.db